In [2]:
#Q1
print('''長庚大學
醫學系
林律安''')

長庚大學
醫學系
林律安

In [13]:
#Q2
a = input('請輸入一個數字:')
print(float(a)>10)

請輸入一個數字:11
True

In [14]:
#Q3
a = 3
b = 5
print(a**b)

243

In [15]:
#Q4
a = 3
b = 5
print(a!=b)

True

In [19]:
#Q5-solution 1
a = 3
b = 5
a/=b
print(a)

0.6

In [20]:
#Q5-solution 2
a = 3
b = 5
a = a / b
print(a)

0.6